@model FrontApiPessoal.Models.ParteViewModel
@{
    ViewBag.Title = "Detalhes da Parte";
}
<h2>Detalhes do Personagem</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Id)</dt>
        <dd>@Html.DisplayFor(model => model.Id)</dd>

        <dt>@Html.DisplayNameFor(model => model.Nome)</dt>
        <dd>@Html.DisplayFor(model => model.Nome)</dd>

        <dt>@Html.DisplayNameFor(model => model.Tipo)</dt>
        <dd>@Html.DisplayFor(model => model.Tipo)</dd>

        <dt>@Html.DisplayNameFor(model => model.DocumentoIdentidade)</dt>
        <dd>@Html.DisplayFor(model => model.DocumentoIdentidade)</dd>

        <dt>@Html.DisplayNameFor(model => model.Endereco)</dt>
        <dd>@Html.DisplayFor(model => model.Endereco)</dd>

        <dt>@Html.DisplayNameFor(model => model.Telefone)</dt>
        <dd>@Html.DisplayFor(model => model.Telefone)</dd>

        <dt>@Html.DisplayNameFor(model => model.Email)</dt>
        <dd>@Html.DisplayFor(model => model.Email)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id})
    @Html.ActionLink("Retornar", "Index")
</p>